body {
    background-color: linen;
    padding-right: 3%;
    padding-left: 3%;

 
}

h1 {
    font-size: 90px;
    text-align: center;
    font-stretch: extra-expanded;
    font-family: 'Niconne', cursive;
}

p {
    font-size: 20px;
    margin: auto;
}

img {
    height: 350px;
    width: 30%;
}
.footer {
    font-size: 2px;   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color:black;
    text-align: center;
 }